@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300);

body {
    font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    background-image: url(../img/background.jpg);
 	background-size: cover; 
 	background-attachment: fixed; /* don’t scroll it */
}

h1, h2, h3 {
	font-family: Raleway, Helvetica, sans-serif;
	font-weight: 400;
}

h1	{
	font-size: 200%;
}

h2 {
	font-size: 150%;
}

header	{
	background-color: rgba(70,70,70,0.5);
}

footer {
	background-color: #B874E3;
}

.menu {
	background-color: #8ADF00;
	border: 3px solid #000;
	margin-bottom: 50px;
}

header p {
	font-size: 120%;
	color: #FFF;
}

main {
	margin-left:20%;
	margin-right:20%;
}



